In [9]:
from scipy.io import arff
import numpy as np
import pandas as pd

In [8]:
data = arff.loadarff('./data/3year.arff')
df = pd.DataFrame(data[0])
df.head()

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class
0,0.174190,0.41299,0.14371,1.3480,-28.9820,0.60383,0.219460,1.1225,1.1961,0.46359,...,0.163960,0.375740,0.83604,0.000007,9.7145,6.2813,84.291,4.3303,4.0341,b'0'
1,0.146240,0.46038,0.28230,1.6294,2.5952,0.00000,0.171850,1.1721,1.6018,0.53962,...,0.027516,0.271000,0.90108,0.000000,5.9882,4.1103,102.190,3.5716,5.9500,b'0'
2,0.000595,0.22612,0.48839,3.1599,84.8740,0.19114,0.004572,2.9881,1.0077,0.67566,...,0.007639,0.000881,0.99236,0.000000,6.7742,3.7922,64.846,5.6287,4.4581,b'0'
3,0.024526,0.43236,0.27546,1.7833,-10.1050,0.56944,0.024526,1.3057,1.0509,0.56453,...,0.048398,0.043445,0.95160,0.142980,4.2286,5.0528,98.783,3.6950,3.4844,b'0'
4,0.188290,0.41504,0.34231,1.9279,-58.2740,0.00000,0.233580,1.4094,1.3393,0.58496,...,0.176480,0.321880,0.82635,0.073039,2.5912,7.0756,100.540,3.6303,4.6375,b'0'

In [13]:
X = df.iloc[:, 0:64]
y = df.iloc[:, -1]

0    b'0'
1    b'0'
2    b'0'
3    b'0'
4    b'0'
Name: class, dtype: object

### Data normalization

In [14]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

X_scaled = scaler.fit_transform(X)
X_scaled_df = pd.DataFrame(X_scaled, columns=X.columns)

X_scaled_df.head()

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr55,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64
0,0.253983,0.000859,0.964690,0.000025,0.945548,0.918850,0.254627,0.000060,0.003252,0.976863,...,0.212654,0.951045,0.751226,0.010893,0.022090,2.654090e-06,0.002875,0.685215,0.002193,0.000188
1,0.253586,0.000958,0.964969,0.000030,0.945550,0.917759,0.253950,0.000061,0.003799,0.977018,...,0.182669,0.951023,0.751178,0.010897,0.022090,1.636031e-06,0.002390,0.685221,0.001809,0.000277
2,0.251515,0.000470,0.965383,0.000059,0.945557,0.918104,0.251572,0.000095,0.002998,0.977294,...,0.186799,0.951019,0.751057,0.010902,0.022090,1.850773e-06,0.002319,0.685210,0.002851,0.000207
3,0.251856,0.000899,0.964955,0.000033,0.945549,0.918787,0.251856,0.000063,0.003056,0.977068,...,0.183063,0.951026,0.751076,0.010899,0.022109,1.155292e-06,0.002601,0.685220,0.001871,0.000162
4,0.254184,0.000863,0.965090,0.000036,0.945545,0.917759,0.254827,0.000065,0.003445,0.977110,...,0.185172,0.951047,0.751201,0.010893,0.022100,7.079395e-07,0.003052,0.685220,0.001839,0.000216